<mbsc-eventcalendar
  [data]="myEvents"
  [exclusiveEndDates]="true"
  [headerTemplate]="customHeaderTemplate"
  [(selectedDate)]="selectedDate"
  [view]="myView"
  (onPageLoading)="onPageLoading($event)"
>
  <ng-template #customHeaderTemplate>
    <mbsc-calendar-nav></mbsc-calendar-nav>
    <div [style.visibility]="isLoading ? 'visible' : 'hidden'" class="mds-loader"></div>
    <div class="mbsc-flex mbsc-flex-1-0 mbsc-justify-content-end">
      <mbsc-button (click)="signIn()" *ngIf="!isLoggedIn">Sync my Google calendars</mbsc-button>
      <mbsc-button #calButton (click)="openPopup()" *ngIf="isLoggedIn">My Calendars</mbsc-button>
      <mbsc-button (click)="navigate()">Today</mbsc-button>
    </div>
    <mbsc-calendar-prev></mbsc-calendar-prev>
    <mbsc-calendar-next></mbsc-calendar-next>
  </ng-template>
</mbsc-eventcalendar>

<mbsc-popup #popup [anchor]="myAnchor" [options]="popupOptions">
  <div class="mbsc-form-group-inset">
    <div class="mbsc-form-group-title">My calendars</div>
    <ng-container *ngFor="let cal of myCalendars;">
      <mbsc-switch [label]="cal.summary" [(ngModel)]="calendarData[cal.id].checked" (change)="toggleCalendar($event, cal.id)">
      </mbsc-switch>
    </ng-container>
  </div>
  <div class="mbsc-form-group-inset">
    <mbsc-button class="mbsc-button-block" (click)="signOut()">Sign out of my account</mbsc-button>
  </div>
</mbsc-popup>
