.mds-24-hour-manufacturing-calendar .mbsc-schedule-day-limit {
  border-top-width: 2px;
}

.mds-24-hour-manufacturing-calendar .mbsc-schedule-events {
  left: 0;
  right: 0;
}

.mds-24-hour-manufacturing-calendar .mbsc-schedule-time-wrapper {
  height: 2.5em;
}

.mds-24-hour-manufacturing-calendar .mbsc-schedule-item {
  height: 2.5em;
}

.mds-24-hour-manufacturing-calendar .mbsc-schedule-color.available-slot {
  z-index: auto;
}

.mds-24-hour-manufacturing-calendar .mbsc-schedule-color.available-slot .mbsc-schedule-color-text {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  line-height: 20px;
  font-size: 24px;
  text-align: center;
  color: #e0fff0;
  border: none;
  border-radius: 50%;
  background: linear-gradient(135deg, rgba(160, 160, 160), rgba(93, 93, 93));
}
