.demo-zoom-in-out {
  height: 100%;
}

.md-zoom-cont .mbsc-button-icon {
  font-size: 24px;
}

.column-large .mbsc-timeline-column,
.column-large .mbsc-timeline-header-column,
.column-large .mbsc-timeline-day-month {
  width: 120px;
}

.column-medium .mbsc-timeline-column,
.column-medium .mbsc-timeline-header-column,
.column-medium .mbsc-timeline-day-month {
  width: 100px;
}
