.metric-bar-container {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 10px;
  width: 125px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.metric-bar {
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.green-bar {
  background-color: #4caf50;
}

.yellow-bar {
  background-color: #ffeb3b;
}

.red-bar {
  background-color: #f44336;
}

/* Overrides */

.mds-timeline-popup-sort .mbsc-timeline-resource-header,
.mds-timeline-popup-sort .mbsc-timeline-resource-title,
.mds-timeline-popup-sort .mbsc-timeline-resource-footer,
.mds-timeline-popup-sort .mbsc-timeline-sidebar-header,
.mds-timeline-popup-sort .mbsc-timeline-sidebar-resource-title,
.mds-timeline-popup-sort .mbsc-timeline-sidebar-footer {
  padding: 0;
}

.mds-timeline-popup-sort .mbsc-timeline-row {
  min-height: 80px;
}

.mds-timeline-popup-sort .mbsc-timeline-resource-col {
  width: 310px;
}

.mds-timeline-popup-sort .mbsc-timeline-resource-title {
  height: 100%;
}

/* Resource grid */

.mds-popup-sort-resource-cell {
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 25px;
}

.mds-popup-sort-resource-cell-name {
  width: 170px;
}

.mds-popup-sort-resource-cell-custom {
  width: 135px;
}

.mds-popup-sort-resource-cell-custom {
  border-left: 1px solid #ccc;
}

.mds-timeline-popup-sort.mbsc-ios-dark .mds-popup-sort-resource-cell-custom,
.mds-timeline-popup-sort.mbsc-material-dark .mds-popup-sort-resource-cell-custom,
.mds-timeline-popup-sort.mbsc-windows-dark .mds-popup-sort-resource-cell-custom {
  border-left: 1px solid #333;
}
