<mbsc-eventcalendar #calendar [data]="myEvents" [resources]="myResources" [options]="calendarOptions"></mbsc-eventcalendar>
<mbsc-popup [options]="popupOptions" [anchor]="popupAnchor" [buttons]="popupButtons" [headerText]="popupHeaderText" #popup>
  <div class="mbsc-form-group">
    <mbsc-input label="Title" [(ngModel)]="popupEventTitle"></mbsc-input>
    <mbsc-textarea label="Description" [(ngModel)]="popupEventDescription"></mbsc-textarea>
  </div>
  <div class="mbsc-form-group">
    <mbsc-switch label="All-day" [(ngModel)]="popupEventAllDay"></mbsc-switch>
    <mbsc-datepicker
      [(ngModel)]="popupEventDates"
      [options]="datePickerOptions"
      [controls]="popupEventAllDay ? datePickerControls : datetimePickerControls"
      [responsive]="popupEventAllDay ? datePickerResponsive : datetimePickerResponsive"
      [startInput]="startInput"
      [endInput]="endInput"
    ></mbsc-datepicker>
    <mbsc-input #startInput label="Starts"></mbsc-input>
    <mbsc-input #endInput label="Ends"></mbsc-input>

    <div id="travel-time-group" *ngIf="!popupEventAllDay">
      <mbsc-dropdown [(ngModel)]="popupTravelTime" label="Travel time" id="travel-time-selection">
        <option value="0">None</option>
        <option value="5">5 minutes</option>
        <option value="15">15 minutes</option>
        <option value="30">30 minutes</option>
        <option value="60">1 hour</option>
        <option value="90">1.5 hours</option>
        <option value="120">2 hours</option>
      </mbsc-dropdown>
    </div>

    <div class="event-color-c" (click)="openColorPicker($event)">
      <div class="event-color-label">Color</div>
      <div class="event-color" [ngStyle]="{ background: selectedColor }"></div>
    </div>
    <mbsc-segmented-group [(ngModel)]="popupEventStatus">
      <mbsc-segmented value="busy">Show as busy</mbsc-segmented>
      <mbsc-segmented value="free">Show as free</mbsc-segmented>
    </mbsc-segmented-group>
    <div *ngIf="isEdit" class="mbsc-button-group">
      <mbsc-button class="mbsc-button-block" color="danger" variant="outline" (click)="onDeleteClick()">Delete event </mbsc-button>
    </div>
  </div>
</mbsc-popup>

<mbsc-popup [options]="colorOptions" [anchor]="colorAnchor" #colorPicker>
  <div class="crud-color-row">
    <div *ngFor="let color of colors;let i=index">
      <div
        *ngIf="i<5"
        class="crud-color-c"
        [ngClass]="{'selected': tempColor === color}"
        [attr.data-value]="color"
        (click)="changeColor($event)"
      >
        <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" [ngStyle]="{background: color}"></div>
      </div>
    </div>
  </div>
  <div class="crud-color-row">
    <div *ngFor="let color of colors;let i=index">
      <div
        *ngIf="i>=5"
        class="crud-color-c"
        [ngClass]="{'selected': tempColor === color}"
        [attr.data-value]="color"
        (click)="changeColor($event)"
      >
        <div class="crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" [ngStyle]="{background: color}"></div>
      </div>
    </div>
  </div>
</mbsc-popup>
