.mds-36-hour-rolling-calendar .mbsc-timeline-parent {
  height: 32px;
}

.mds-36-hour-rolling-calendar .mds-36-hour-resource-header {
  font-weight: 100;
}

.mds-36-hour-rolling-calendar .mds-36-hour-resource-header-utc {
  font-weight: bold;
}

.mds-36-hour-rolling-calendar .mds-36-hour-date {
  font-size: bold;
  color: #e74949ff;
}

.mds-36-hour-rolling-calendar .mds-36-hour-time {
  color: #877d7dff;
}
