<div class="mbsc-grid mbsc-no-padding mds-full-height">
  <div class="mbsc-row mds-full-height">
    <div class="mbsc-col-sm-9 mds-drag-drop-sort-calendar mds-full-height">
      <mbsc-eventcalendar [data]="myEvents " [options]="calendarOptions"></mbsc-eventcalendar>
    </div>
    <div class="mbsc-col-sm-3 mds-drag-drop-sort-container-wrapper mds-full-height">
      <div class="mbsc-txt-muted mds-third-party-title">SortableJS list</div>
      <div class="mds-drag-drop-sort-container" #demoSortableList>
        <div
          *ngFor="let task of mySortableTasks"
          class="mds-drag-drop-sort-task"
          [style.background]="task.color"
          [attr.data-drag-data]="getDragData(task)"
        >
          <div>{{task.title}}</div>
          <div>{{getHours(task)}}</div>
        </div>
      </div>
      <div class="mbsc-txt-muted mds-third-party-title">Dragula list</div>
      <div class="mds-drag-drop-sort-container" #demoDragulaList>
        <div
          *ngFor="let task of myDragulaTasks"
          class="mds-drag-drop-sort-task"
          [style.background]="task.color"
          [attr.data-drag-data]="getDragData(task)"
        >
          <div>{{task.title}}</div>
          <div>{{getHours(task)}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
