<mbsc-eventcalendar
  #calendar
  [data]="myEvents"
  [clickToCreate]="true"
  [dragToCreate]="true"
  [dragToMove]="true"
  [dragToResize]="true"
  [view]="myView"
  (onEventClick)="handleEventClick($event)"
  (onEventCreated)="handleEventCreated($event)"
  (onEventDeleted)="handleEventDeleted()"
></mbsc-eventcalendar>

<mbsc-popup
  #addEditPopup
  display="bottom"
  [contentPadding]="false"
  [fullScreen]="true"
  [scrollLock]="false"
  [headerText]="isEdit ? 'Edit event' : 'New Event'"
  [anchor]="addEditPopupAnchor"
  [buttons]="isEdit ? editButtons: addButtons"
  [responsive]="addEditPopupResponsive"
  (onClose)="handleAddEditPopupClose()"
>
  <div class="mbsc-form-group">
    <mbsc-input label="Title" [(ngModel)]="eventTitle"></mbsc-input>
    <mbsc-textarea label="Description" [(ngModel)]="eventDescription"></mbsc-textarea>
  </div>

  <div class="mbsc-form-group">
    <mbsc-switch label="All-day" [(ngModel)]="eventAllDay"></mbsc-switch>

    <mbsc-input #startInput label="Starts"></mbsc-input>
    <mbsc-input #endInput label="Ends"></mbsc-input>

    <mbsc-datepicker
      [(ngModel)]="eventDates"
      select="range"
      display="anchored"
      [touchUi]="true"
      [showRangeLabels]="false"
      [controls]="eventAllDay ? ['date'] : ['datetime']"
      [responsive]="eventAllDay ? { medium: { controls: ['calendar'], touchUi: false } } : { medium: { controls: ['calendar', 'time'], touchUi: false } }"
      [startInput]="startInput"
      [endInput]="endInput"
    ></mbsc-datepicker>

    <div *ngIf="!eventAllDay">
      <mbsc-dropdown [(ngModel)]="eventBuffer" label="Travel time">
        <option value="0">None</option>
        <option value="5">5 minutes</option>
        <option value="15">15 minutes</option>
        <option value="30">30 minutes</option>
        <option value="60">1 hour</option>
        <option value="90">1.5 hours</option>
        <option value="120">2 hours</option>
      </mbsc-dropdown>
    </div>

    <div class="mbsc-flex mds-crud-event-color-cont" (click)="handleOpenColorPicker($event)">
      <div class="mbsc-flex-1-0">Color</div>
      <div class="mds-crud-selected-event-color" [ngStyle]="{background: colorPreview}"></div>
    </div>

    <mbsc-segmented-group [(ngModel)]="statusValue">
      <mbsc-segmented value="busy">Show as busy</mbsc-segmented>
      <mbsc-segmented value="free">Show as free</mbsc-segmented>
    </mbsc-segmented-group>

    <div *ngIf="isEdit" class="mbsc-button-group">
      <mbsc-button class="mbsc-button-block" color="danger" variant="outline" (click)="handleDeleteButtonClick()"
        >Delete event
      </mbsc-button>
    </div>
  </div>
</mbsc-popup>

<mbsc-popup
  #colorPicker
  display="bottom"
  [contentPadding]="false"
  [showArrow]="false"
  [showOverlay]="false"
  [anchor]="colorPickerAnchor"
  [buttons]="colorPickerButtons"
  [responsive]="colorPickerResponsive"
>
  <div class="mbsc-flex mds-crud-color-row">
    <div *ngFor="let color of colors;let i=index">
      <div
        *ngIf="i<5"
        class="mds-crud-color-value"
        [ngClass]="{'selected': eventColor === color}"
        [attr.data-value]="color"
        (click)="handleColorChange($event)"
      >
        <div class="mds-crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" [ngStyle]="{background: color}"></div>
      </div>
    </div>
  </div>
  <div class="mbsc-flex mds-crud-color-row">
    <div *ngFor="let color of colors;let i=index">
      <div
        *ngIf="i>=5"
        class="mds-crud-color-value"
        [ngClass]="{'selected': eventColor === color}"
        [attr.data-value]="color"
        (click)="handleColorChange($event)"
      >
        <div class="mds-crud-color mbsc-icon mbsc-font-icon mbsc-icon-material-check" [ngStyle]="{background: color}"></div>
      </div>
    </div>
  </div>
</mbsc-popup>
