<mbsc-eventcalendar
  [view]="myView"
  [data]="myEvents"
  [resources]="myResources"
  [immutableData]="true"
  [headerTemplate]="header"
  (onResourceOrderUpdate)="handleResourceOrder($event)"
>
  <ng-template #header>
    <mbsc-calendar-nav></mbsc-calendar-nav>
    <div class="mds-reorder-header-filter mbsc-flex mbsc-flex-1-1">
      <mbsc-button (click)="enableReorder()" variant="flat" class="mds-reorder-switch mds-enable" *ngIf="!isReorder">
        Reorder resources
      </mbsc-button>
      <mbsc-button (click)="saveReorder()" class="mds-reorder-save mds-update" *ngIf="isReorder">Save</mbsc-button>
      <mbsc-button (click)="cancelReorder()" class="mds-reorder-save mds-update" *ngIf="isReorder">Cancel</mbsc-button>
      <mbsc-button class="mds-reorder-header-filter-separator" variant="outline" color="light"></mbsc-button>
    </div>
    <mbsc-calendar-prev></mbsc-calendar-prev>
    <mbsc-calendar-today></mbsc-calendar-today>
    <mbsc-calendar-next></mbsc-calendar-next>
  </ng-template>
</mbsc-eventcalendar>
