<mbsc-eventcalendar
  [view]="myView"
  [data]="myEvents"
  [resources]="myResources"
  [onResourceOrderUpdate]="handleResourceOrder"
  headerTemplate="header"
>
  <ng-template #header>
    <mbsc-calendar-nav class="md-custom-header-nav"></mbsc-calendar-nav>
    <div class="mds-header-filter mbsc-flex mbsc-flex-1-1">
      <mbsc-button (click)="enableReorder()" variant="flat" class="mds-reorder-switch mds-enable" *ngIf="!isReorder">
        Reorder resources
      </mbsc-button>

      <mbsc-button (click)="saveReorder()" class="mds-reorder-save mds-update" *ngIf="isReorder"> Save resource order </mbsc-button>
      <mbsc-button (click)="cancelReorder()" class="mds-reorder-save mds-update" *ngIf="isReorder"> Cancel </mbsc-button>
      <div class="mds-header-filter-separator"></div>
    </div>
    <mbsc-calendar-prev></mbsc-calendar-prev>
    <mbsc-calendar-today></mbsc-calendar-today>
    <mbsc-calendar-next></mbsc-calendar-next>
  </ng-template>
</mbsc-eventcalendar>
