.mds-resource-info-hover.mbsc-timeline-resource {
  background: rgba(128, 128, 128, 0.6);
}
.mds-res-info-avatar {
  width: 40px;
  height: 40px;
}
.mds-res-info-cont {
  margin-left: 10px;
}
.mds-res-info-prof {
  font-size: 12px;
  color: #666;
  line-height: 20px;
}

.mds-resource-info-header {
  align-items: center;
}
.mds-resource-info-btn-cont {
  text-align: center;
}
.mds-resource-info-edit-btn.mbsc-button {
  font-size: 12px;
  margin: 0 0 0 auto;
}
.mds-resource-info-pay-btn.mbsc-button {
  font-size: 12px;
  margin: 0;
}
.mds-resource-info-cont {
  font-size: 12px;
  opacity: 0.5;
  padding-bottom: 10px;
  line-height: 20px;
}
.mds-resource-info-detail {
  font-weight: bold;
}
