.mds-external-nav-calendar {
  height: 100%;
}

.mds-external-nav-dp {
  height: 360px;
}

.mds-external-nav-ec {
  border-left: 1px solid #ccc;
}

@media screen and (max-width: 700px) {
  .mds-external-nav-calendar {
    display: block;
  }
}
