<mbsc-page>
  <div class="mbsc-padding">
    <h1>Mobiscroll Angular Demos</h1>

    <h2>Event Calendar</h2>

    <h3>Agenda</h3>

    <ul>
      <li><a class="app-link" href="/agenda/load-events-from-remote-api">load-events-from-remote-api</a></li>
      <li><a class="app-link" href="/agenda/load-events-on-demand">load-events-on-demand</a></li>
      <li><a class="app-link" href="/agenda/load-events-from-google-calendar">load-events-from-google-calendar</a></li>
      <li><a class="app-link" href="/agenda/event-data-structure">event-data-structure</a></li>
      <li><a class="app-link" href="/agenda/event-hooks">event-hooks</a></li>
      <li><a class="app-link" href="/agenda/date-object-ISO-8601-moment">date-object-ISO-8601-moment</a></li>
      <li><a class="app-link" href="/agenda/recurring-events">recurring-events</a></li>
      <li><a class="app-link" href="/agenda/daily-weekly-monthly-annual-agenda">daily-weekly-monthly-annual-agenda</a></li>
      <li><a class="app-link" href="/agenda/event-content-customization">event-content-customization</a></li>
      <li><a class="app-link" href="/agenda/full-event-customization">full-event-customization</a></li>
      <li><a class="app-link" href="/agenda/resource-filtering-in-header">resource-filtering-in-header</a></li>
      <li><a class="app-link" href="/agenda/customizing-header">customizing-header</a></li>
      <li><a class="app-link" href="/agenda/load-inline-data">load-inline-data</a></li>
      <li><a class="app-link" href="/agenda/daily-agenda-with-week-calendar">daily-agenda-with-week-calendar</a></li>
      <li><a class="app-link" href="/agenda/synchronized-views">synchronized-views</a></li>
      <li><a class="app-link" href="/agenda/themes-ios-material-windows">themes-ios-material-windows</a></li>
      <li><a class="app-link" href="/agenda/gregorian-jalali-hijri">gregorian-jalali-hijri</a></li>
      <li><a class="app-link" href="/agenda/basic-usage">basic-usage</a></li>
      <li><a class="app-link" href="/agenda/custom-event-sort">custom-event-sort</a></li>
      <li><a class="app-link" href="/agenda/localization">localization</a></li>
      <li><a class="app-link" href="/agenda/setting-the-timezone">setting-the-timezone</a></li>
      <li><a class="app-link" href="/agenda/custom-event-tooltip">custom-event-tooltip</a></li>
      <li><a class="app-link" href="/agenda/printing-the-view">printing-the-view</a></li>
      <li><a class="app-link" href="/agenda/sync-events-google-calendar">sync-events-google-calendar</a></li>
      <li><a class="app-link" href="/agenda/sync-events-outlook-calendar">sync-events-outlook-calendar</a></li>
      <li><a class="app-link" href="/agenda/event-bulk-actions-edit-delete-update">event-bulk-actions-edit-delete-update</a></li>
      <li><a class="app-link" href="/agenda/searching-events-in-popup">searching-events-in-popup</a></li>
      <li><a class="app-link" href="/agenda/empty-state">empty-state</a></li>
    </ul>

    <h3>Event Calendar</h3>

    <ul>
      <li><a class="app-link" href="/eventcalendar/event-hooks">event-hooks</a></li>
      <li><a class="app-link" href="/eventcalendar/load-events-from-remote-api">load-events-from-remote-api</a></li>
      <li><a class="app-link" href="/eventcalendar/desktop-month-view">desktop-month-view</a></li>
      <li><a class="app-link" href="/eventcalendar/load-events-on-demand">load-events-on-demand</a></li>
      <li><a class="app-link" href="/eventcalendar/mobile-month-view">mobile-month-view</a></li>
      <li><a class="app-link" href="/eventcalendar/month-week-view">month-week-view</a></li>
      <li><a class="app-link" href="/eventcalendar/date-object-ISO-8601-moment">date-object-ISO-8601-moment</a></li>
      <li><a class="app-link" href="/eventcalendar/switching-day-week-month-view">switching-day-week-month-view</a></li>
      <li><a class="app-link" href="/eventcalendar/responsive-month-view">responsive-month-view</a></li>
      <li><a class="app-link" href="/eventcalendar/event-popover">event-popover</a></li>
      <li><a class="app-link" href="/eventcalendar/localization">localization</a></li>
      <li><a class="app-link" href="/eventcalendar/event-labels">event-labels</a></li>
      <li><a class="app-link" href="/eventcalendar/gregorian-jalali-hijri">gregorian-jalali-hijri</a></li>
      <li><a class="app-link" href="/eventcalendar/event-data-structure">event-data-structure</a></li>
      <li><a class="app-link" href="/eventcalendar/themes-ios-material-windows">themes-ios-material-windows</a></li>
      <li><a class="app-link" href="/eventcalendar/recurring-events">recurring-events</a></li>
      <li><a class="app-link" href="/eventcalendar/load-events-from-google-calendar">load-events-from-google-calendar</a></li>
      <li><a class="app-link" href="/eventcalendar/customize-event-popover">customize-event-popover</a></li>
      <li><a class="app-link" href="/eventcalendar/customize-label-look-and-feel">customize-label-look-and-feel</a></li>
      <li><a class="app-link" href="/eventcalendar/customizing-header">customizing-header</a></li>
      <li><a class="app-link" href="/eventcalendar/resource-filtering-in-header">resource-filtering-in-header</a></li>
      <li><a class="app-link" href="/eventcalendar/load-inline-data">load-inline-data</a></li>
      <li><a class="app-link" href="/eventcalendar/move-resize-drag-drop-to-create-events">move-resize-drag-drop-to-create-events</a></li>
      <li><a class="app-link" href="/eventcalendar/create-read-update-delete-CRUD">create-read-update-delete-CRUD</a></li>
      <li><a class="app-link" href="/eventcalendar/blocked-days-ranges">blocked-days-ranges</a></li>
      <li><a class="app-link" href="/eventcalendar/external-drag-drop-schedule-unschedule">external-drag-drop-schedule-unschedule</a></li>
      <li><a class="app-link" href="/eventcalendar/external-event-presets">external-event-presets</a></li>
      <li><a class="app-link" href="/eventcalendar/colored-cell-background">colored-cell-background</a></li>
      <li><a class="app-link" href="/eventcalendar/custom-event-sort">custom-event-sort</a></li>
      <li><a class="app-link" href="/eventcalendar/setting-the-timezone">setting-the-timezone</a></li>
      <li><a class="app-link" href="/eventcalendar/multiple-timezone-support">multiple-timezone-support</a></li>
      <li><a class="app-link" href="/eventcalendar/recurring-event-add-edit-dialog">recurring-event-add-edit-dialog</a></li>
      <li><a class="app-link" href="/eventcalendar/quarter-year-view">quarter-year-view</a></li>
      <li><a class="app-link" href="/eventcalendar/custom-event-tooltip">custom-event-tooltip</a></li>
      <li><a class="app-link" href="/eventcalendar/printing-the-view">printing-the-view</a></li>
      <li><a class="app-link" href="/eventcalendar/show-more-all-labels">show-more-all-labels</a></li>
      <li><a class="app-link" href="/eventcalendar/sync-events-google-calendar">sync-events-google-calendar</a></li>
      <li><a class="app-link" href="/eventcalendar/sync-events-outlook-calendar">sync-events-outlook-calendar</a></li>
      <li><a class="app-link" href="/eventcalendar/disallow-past-event-creation">disallow-past-event-creation</a></li>
      <li><a class="app-link" href="/eventcalendar/event-bulk-actions-edit-delete-update">event-bulk-actions-edit-delete-update</a></li>
      <li><a class="app-link" href="/eventcalendar/cut-copy-paste-events-between-calendars">cut-copy-paste-events-between-calendars</a></li>
      <li><a class="app-link" href="/eventcalendar/searching-events-in-popup">searching-events-in-popup</a></li>
      <li><a class="app-link" href="/eventcalendar/searching-events-in-sidebar">searching-events-in-sidebar</a></li>
      <li><a class="app-link" href="/eventcalendar/conditional-move-resize">conditional-move-resize</a></li>
      <li><a class="app-link" href="/eventcalendar/drag-drop-between-calendar-instances">drag-drop-between-calendar-instances</a></li>
      <li><a class="app-link" href="/eventcalendar/prevent-double-booking-events">prevent-double-booking-events</a></li>
    </ul>

    <h3>Scheduler</h3>

    <ul>
      <li><a class="app-link" href="/scheduler/mobile-day-view">mobile-day-view</a></li>
      <li><a class="app-link" href="/scheduler/desktop-day-view">desktop-day-view</a></li>
      <li><a class="app-link" href="/scheduler/desktop-week-view">desktop-week-view</a></li>
      <li><a class="app-link" href="/scheduler/mobile-week-view">mobile-week-view</a></li>
      <li><a class="app-link" href="/scheduler/responsive-day-week-schedule">responsive-day-week-schedule</a></li>
      <li><a class="app-link" href="/scheduler/switching-calendar-scheduler-agenda">switching-calendar-scheduler-agenda</a></li>
      <li><a class="app-link" href="/scheduler/event-data-structure">event-data-structure</a></li>
      <li><a class="app-link" href="/scheduler/load-events-on-demand">load-events-on-demand</a></li>
      <li><a class="app-link" href="/scheduler/load-events-from-remote-api">load-events-from-remote-api</a></li>
      <li><a class="app-link" href="/scheduler/gregorian-jalali-hijri">gregorian-jalali-hijri</a></li>
      <li><a class="app-link" href="/scheduler/event-hooks">event-hooks</a></li>
      <li><a class="app-link" href="/scheduler/localization">localization</a></li>
      <li><a class="app-link" href="/scheduler/themes-ios-material-windows">themes-ios-material-windows</a></li>
      <li><a class="app-link" href="/scheduler/recurring-events">recurring-events</a></li>
      <li><a class="app-link" href="/scheduler/load-events-from-google-calendar">load-events-from-google-calendar</a></li>
      <li><a class="app-link" href="/scheduler/date-object-ISO-8601-moment">date-object-ISO-8601-moment</a></li>
      <li><a class="app-link" href="/scheduler/customizing-events">customizing-events</a></li>
      <li><a class="app-link" href="/scheduler/resource-filtering-in-header">resource-filtering-in-header</a></li>
      <li><a class="app-link" href="/scheduler/customizing-header">customizing-header</a></li>
      <li><a class="app-link" href="/scheduler/load-inline-data">load-inline-data</a></li>
      <li><a class="app-link" href="/scheduler/move-resize-drag-drop-to-create-events">move-resize-drag-drop-to-create-events</a></li>
      <li><a class="app-link" href="/scheduler/create-read-update-delete-CRUD">create-read-update-delete-CRUD</a></li>
      <li><a class="app-link" href="/scheduler/prevent-double-booking-events">prevent-double-booking-events</a></li>
      <li><a class="app-link" href="/scheduler/time-off-blocked-ranges">time-off-blocked-ranges</a></li>
      <li><a class="app-link" href="/scheduler/work-week-hours">work-week-hours</a></li>
      <li><a class="app-link" href="/scheduler/show-hide-hours-days">show-hide-hours-days</a></li>
      <li><a class="app-link" href="/scheduler/disable-all-day-events">disable-all-day-events</a></li>
      <li><a class="app-link" href="/scheduler/external-drag-drop-schedule-unschedule">external-drag-drop-schedule-unschedule</a></li>
      <li><a class="app-link" href="/scheduler/external-event-presets">external-event-presets</a></li>
      <li><a class="app-link" href="/scheduler/colored-cell-background">colored-cell-background</a></li>
      <li><a class="app-link" href="/scheduler/resource-view">resource-view</a></li>
      <li><a class="app-link" href="/scheduler/group-by-resource-by-day">group-by-resource-by-day</a></li>
      <li><a class="app-link" href="/scheduler/shared-events-across-resources">shared-events-across-resources</a></li>
      <li><a class="app-link" href="/scheduler/dynamic-add-remove-resources-filter">dynamic-add-remove-resources-filter</a></li>
      <li><a class="app-link" href="/scheduler/custom-resource-header-template">custom-resource-header-template</a></li>
      <li><a class="app-link" href="/scheduler/setting-the-timezone">setting-the-timezone</a></li>
      <li><a class="app-link" href="/scheduler/multiple-timezone-support">multiple-timezone-support</a></li>
      <li><a class="app-link" href="/scheduler/date-header-template">date-header-template</a></li>
      <li><a class="app-link" href="/scheduler/custom-event-tooltip">custom-event-tooltip</a></li>
      <li><a class="app-link" href="/scheduler/printing-the-view">printing-the-view</a></li>
      <li><a class="app-link" href="/scheduler/display-multiple-days-weeks">display-multiple-days-weeks</a></li>
      <li><a class="app-link" href="/scheduler/recurring-event-add-edit-dialog">recurring-event-add-edit-dialog</a></li>
      <li><a class="app-link" href="/scheduler/sync-events-google-calendar">sync-events-google-calendar</a></li>
      <li><a class="app-link" href="/scheduler/sync-events-outlook-calendar">sync-events-outlook-calendar</a></li>
      <li><a class="app-link" href="/scheduler/disallow-past-event-creation">disallow-past-event-creation</a></li>
      <li><a class="app-link" href="/scheduler/custom-range-view">custom-range-view</a></li>
      <li><a class="app-link" href="/scheduler/show-multiple-timezones">show-multiple-timezones</a></li>
      <li><a class="app-link" href="/scheduler/event-bulk-actions-edit-delete-update">event-bulk-actions-edit-delete-update</a></li>
      <li><a class="app-link" href="/scheduler/searching-events-in-sidebar">searching-events-in-sidebar</a></li>
      <li><a class="app-link" href="/scheduler/colors-invalids-css-class">colors-invalids-css-class</a></li>
      <li><a class="app-link" href="/scheduler/resource-data-structure">resource-data-structure</a></li>
      <li><a class="app-link" href="/scheduler/doctors-appointment">doctors-appointment</a></li>
      <li><a class="app-link" href="/scheduler/conditional-move-resize">conditional-move-resize</a></li>
      <li><a class="app-link" href="/scheduler/drag-drop-between-calendar-instances">drag-drop-between-calendar-instances</a></li>
      <li>
        <a class="app-link" href="/scheduler/control-number-of-concurrently-shown-events">control-number-of-concurrently-shown-events</a>
      </li>
    </ul>

    <h3>Timeline</h3>

    <ul>
      <li><a class="app-link" href="/timeline/timeline-time-grid">timeline-time-grid</a></li>
      <li><a class="app-link" href="/timeline/daily-weekly-monthly-yearly-timeline">daily-weekly-monthly-yearly-timeline</a></li>
      <li><a class="app-link" href="/timeline/switching-day-week-work-week-timeline">switching-day-week-work-week-timeline</a></li>
      <li>
        <a class="app-link" href="/timeline/timeline-resource-details-side-panel-footer">timeline-resource-details-side-panel-footer</a>
      </li>
      <li><a class="app-link" href="/timeline/timeline-resource-height">timeline-resource-height</a></li>
      <li><a class="app-link" href="/timeline/timeline-custom-event-rendering">timeline-custom-event-rendering</a></li>
      <li><a class="app-link" href="/timeline/month-view">month-view</a></li>
      <li><a class="app-link" href="/timeline/event-listing">event-listing</a></li>
      <li><a class="app-link" href="/timeline/employee-shifts">employee-shifts</a></li>
      <li><a class="app-link" href="/timeline/resource-grouping-hierarchy">resource-grouping-hierarchy</a></li>
      <li><a class="app-link" href="/timeline/work-order-scheduling">work-order-scheduling</a></li>
      <li><a class="app-link" href="/timeline/timezone-meeting-planner">timezone-meeting-planner</a></li>
      <li><a class="app-link" href="/timeline/meal-planner">meal-planner</a></li>
      <li><a class="app-link" href="/timeline/shift-template">shift-template</a></li>
      <li><a class="app-link" href="/timeline/restaurant-shift-management">restaurant-shift-management</a></li>
      <li><a class="app-link" href="/timeline/resource-header-template">resource-header-template</a></li>
      <li><a class="app-link" href="/timeline/setting-the-timezone">setting-the-timezone</a></li>
      <li><a class="app-link" href="/timeline/multiple-timezone-support">multiple-timezone-support</a></li>
      <li><a class="app-link" href="/timeline/custom-event-tooltip">custom-event-tooltip</a></li>
      <li><a class="app-link" href="/timeline/printing-the-view">printing-the-view</a></li>
      <li>
        <a class="app-link" href="/timeline/multiple-days-weeks-months-quarters-years-variable-resolution"
          >multiple-days-weeks-months-quarters-years-variable-resolution</a
        >
      </li>
      <li><a class="app-link" href="/timeline/move-resize-drag-drop-to-create-events">move-resize-drag-drop-to-create-events</a></li>
      <li><a class="app-link" href="/timeline/event-data-structure">event-data-structure</a></li>
      <li><a class="app-link" href="/timeline/date-object-ISO-8601-moment">date-object-ISO-8601-moment</a></li>
      <li><a class="app-link" href="/timeline/recurring-events">recurring-events</a></li>
      <li><a class="app-link" href="/timeline/load-events-from-remote-api">load-events-from-remote-api</a></li>
      <li><a class="app-link" href="/timeline/load-events-on-demand">load-events-on-demand</a></li>
      <li><a class="app-link" href="/timeline/create-read-update-delete-CRUD">create-read-update-delete-CRUD</a></li>
      <li><a class="app-link" href="/timeline/themes-ios-material-windows">themes-ios-material-windows</a></li>
      <li><a class="app-link" href="/timeline/gregorian-jalali-hijri">gregorian-jalali-hijri</a></li>
      <li><a class="app-link" href="/timeline/event-hooks">event-hooks</a></li>
      <li><a class="app-link" href="/timeline/localization">localization</a></li>
      <li><a class="app-link" href="/timeline/rtl-right-to-left">rtl-right-to-left</a></li>
      <li><a class="app-link" href="/timeline/load-inline-data">load-inline-data</a></li>
      <li><a class="app-link" href="/timeline/sync-events-google-calendar">sync-events-google-calendar</a></li>
      <li><a class="app-link" href="/timeline/sync-events-outlook-calendar">sync-events-outlook-calendar</a></li>
      <li><a class="app-link" href="/timeline/disallow-past-event-creation">disallow-past-event-creation</a></li>
      <li><a class="app-link" href="/timeline/load-events-from-google-calendar">load-events-from-google-calendar</a></li>
      <li><a class="app-link" href="/timeline/custom-range-view">custom-range-view</a></li>
      <li><a class="app-link" href="/timeline/dynamically-color-and-invalidate">dynamically-color-and-invalidate</a></li>
      <li><a class="app-link" href="/timeline/event-bulk-actions-edit-delete-update">event-bulk-actions-edit-delete-update</a></li>
      <li><a class="app-link" href="/timeline/loading-big-data-sets">loading-big-data-sets</a></li>
      <li><a class="app-link" href="/timeline/connecting-linking-events-arrows">connecting-linking-events-arrows</a></li>
      <li><a class="app-link" href="/timeline/searching-events-in-sidebar">searching-events-in-sidebar</a></li>
      <li><a class="app-link" href="/timeline/colors-invalids-css-class">colors-invalids-css-class</a></li>
      <li>
        <a class="app-link" href="/timeline/hour-day-week-month-quarter-year-header-footer-template"
          >hour-day-week-month-quarter-year-header-footer-template</a
        >
      </li>
      <li><a class="app-link" href="/timeline/setting-row-height">setting-row-height</a></li>
      <li>
        <a class="app-link" href="/timeline/monthly-timetable-vertical-days-horizontal-times"
          >monthly-timetable-vertical-days-horizontal-times</a
        >
      </li>
      <li><a class="app-link" href="/timeline/multi-classroom-timetable">multi-classroom-timetable</a></li>
      <li><a class="app-link" href="/timeline/load-resources-on-demand">load-resources-on-demand</a></li>
      <li><a class="app-link" href="/timeline/resource-data-structure">resource-data-structure</a></li>
      <li><a class="app-link" href="/timeline/conditional-move-resize">conditional-move-resize</a></li>
      <li><a class="app-link" href="/timeline/drag-drop-between-calendar-instances">drag-drop-between-calendar-instances</a></li>
      <li><a class="app-link" href="/timeline/prevent-double-booking-events">prevent-double-booking-events</a></li>
      <li><a class="app-link" href="/timeline/compare-resources-fixed-at-top">compare-resources-fixed-at-top</a></li>
      <li><a class="app-link" href="/timeline/assign-unassign-work-orders-fixed-top-row">assign-unassign-work-orders-fixed-top-row</a></li>
      <li>
        <a class="app-link" href="/timeline/control-number-of-concurrently-shown-events">control-number-of-concurrently-shown-events</a>
      </li>
      <li>
        <a class="app-link" href="/timeline/flight-scheduling-two-synchronized-timelines">flight-scheduling-two-synchronized-timelines</a>
      </li>
    </ul>

    <h2>Date & time pickers</h2>

    <h3>Calendar</h3>

    <ul>
      <li><a class="app-link" href="/calendar/date-time-picker">date-time-picker</a></li>
      <li><a class="app-link" href="/calendar/event-hooks">event-hooks</a></li>
      <li><a class="app-link" href="/calendar/week-view">week-view</a></li>
      <li><a class="app-link" href="/calendar/dots-colors-labels">dots-colors-labels</a></li>
      <li><a class="app-link" href="/calendar/formatting-return-values">formatting-return-values</a></li>
      <li><a class="app-link" href="/calendar/disabled-invalid-values">disabled-invalid-values</a></li>
      <li><a class="app-link" href="/calendar/setting-values-defaults">setting-values-defaults</a></li>
      <li><a class="app-link" href="/calendar/date-object-ISO-8601-moment">date-object-ISO-8601-moment</a></li>
      <li><a class="app-link" href="/calendar/themes-ios-material-windows">themes-ios-material-windows</a></li>
      <li><a class="app-link" href="/calendar/week-to-month">week-to-month</a></li>
      <li><a class="app-link" href="/calendar/localization">localization</a></li>
      <li><a class="app-link" href="/calendar/mobile-desktop-usage">mobile-desktop-usage</a></li>
      <li><a class="app-link" href="/calendar/gregorian-jalali-hijri">gregorian-jalali-hijri</a></li>
      <li><a class="app-link" href="/calendar/responsive">responsive</a></li>
      <li><a class="app-link" href="/calendar/mobile-desktop-display">mobile-desktop-display</a></li>
      <li><a class="app-link" href="/calendar/date-picker">date-picker</a></li>
      <li><a class="app-link" href="/calendar/multiple-months">multiple-months</a></li>
      <li>
        <a class="app-link" href="/calendar/month-change-direction-week-numbers-outer-days"
          >month-change-direction-week-numbers-outer-days</a
        >
      </li>
      <li><a class="app-link" href="/calendar/min-max-restrictions">min-max-restrictions</a></li>
      <li><a class="app-link" href="/calendar/single-select">single-select</a></li>
      <li><a class="app-link" href="/calendar/multiple-select">multiple-select</a></li>
      <li><a class="app-link" href="/calendar/recurring-values">recurring-values</a></li>
      <li><a class="app-link" href="/calendar/customizing-header">customizing-header</a></li>
      <li><a class="app-link" href="/calendar/range-select">range-select</a></li>
      <li><a class="app-link" href="/calendar/half-day-styling">half-day-styling</a></li>
      <li><a class="app-link" href="/calendar/customize-marked-day-shapes">customize-marked-day-shapes</a></li>
      <li><a class="app-link" href="/calendar/usage-on-input-or-inline">usage-on-input-or-inline</a></li>
      <li><a class="app-link" href="/calendar/rtl-right-to-left">rtl-right-to-left</a></li>
      <li><a class="app-link" href="/calendar/appointment-booking">appointment-booking</a></li>
      <li><a class="app-link" href="/calendar/activity-calendar">activity-calendar</a></li>
      <li><a class="app-link" href="/calendar/week-select">week-select</a></li>
      <li><a class="app-link" href="/calendar/quarter-year-view">quarter-year-view</a></li>
      <li><a class="app-link" href="/calendar/setting-the-picker-timezone">setting-the-picker-timezone</a></li>
    </ul>

    <h3>Date & Time</h3>

    <ul>
      <li><a class="app-link" href="/datetime/date-picker">date-picker</a></li>
      <li><a class="app-link" href="/datetime/disabled-invalid-values">disabled-invalid-values</a></li>
      <li><a class="app-link" href="/datetime/time-picker">time-picker</a></li>
      <li><a class="app-link" href="/datetime/month-year-picker">month-year-picker</a></li>
      <li><a class="app-link" href="/datetime/date-time-picker">date-time-picker</a></li>
      <li><a class="app-link" href="/datetime/event-hooks">event-hooks</a></li>
      <li><a class="app-link" href="/datetime/time-value-steps">time-value-steps</a></li>
      <li><a class="app-link" href="/datetime/formatting-return-values">formatting-return-values</a></li>
      <li><a class="app-link" href="/datetime/setting-values-defaults">setting-values-defaults</a></li>
      <li><a class="app-link" href="/datetime/date-object-ISO-8601-moment">date-object-ISO-8601-moment</a></li>
      <li><a class="app-link" href="/datetime/themes-ios-material-windows">themes-ios-material-windows</a></li>
      <li><a class="app-link" href="/datetime/mobile-desktop-usage">mobile-desktop-usage</a></li>
      <li><a class="app-link" href="/datetime/localization">localization</a></li>
      <li><a class="app-link" href="/datetime/gregorian-jalali-hijri">gregorian-jalali-hijri</a></li>
      <li><a class="app-link" href="/datetime/responsive">responsive</a></li>
      <li><a class="app-link" href="/datetime/mobile-desktop-display">mobile-desktop-display</a></li>
      <li><a class="app-link" href="/datetime/min-max-restrictions">min-max-restrictions</a></li>
      <li><a class="app-link" href="/datetime/single-select">single-select</a></li>
      <li><a class="app-link" href="/datetime/recurring-values">recurring-values</a></li>
      <li><a class="app-link" href="/datetime/range-select">range-select</a></li>
      <li><a class="app-link" href="/datetime/usage-on-input-or-inline">usage-on-input-or-inline</a></li>
      <li><a class="app-link" href="/datetime/rtl-right-to-left">rtl-right-to-left</a></li>
      <li><a class="app-link" href="/datetime/setting-the-picker-timezone">setting-the-picker-timezone</a></li>
    </ul>

    <h3>Range</h3>

    <ul>
      <li><a class="app-link" href="/range/disabled-invalid-values">disabled-invalid-values</a></li>
      <li><a class="app-link" href="/range/flight-booking">flight-booking</a></li>
      <li><a class="app-link" href="/range/presets">presets</a></li>
      <li><a class="app-link" href="/range/event-hooks">event-hooks</a></li>
      <li><a class="app-link" href="/range/dots-colors-labels">dots-colors-labels</a></li>
      <li><a class="app-link" href="/range/date-object-ISO-8601-moment">date-object-ISO-8601-moment</a></li>
      <li><a class="app-link" href="/range/themes-ios-material-windows">themes-ios-material-windows</a></li>
      <li><a class="app-link" href="/range/gregorian-jalali-hijri">gregorian-jalali-hijri</a></li>
      <li><a class="app-link" href="/range/mobile-desktop-usage">mobile-desktop-usage</a></li>
      <li><a class="app-link" href="/range/responsive">responsive</a></li>
      <li><a class="app-link" href="/range/mobile-desktop-display">mobile-desktop-display</a></li>
      <li><a class="app-link" href="/range/min-max-restrictions">min-max-restrictions</a></li>
      <li><a class="app-link" href="/range/calendar-scroller-dropdown">calendar-scroller-dropdown</a></li>
      <li><a class="app-link" href="/range/usage-on-input-or-inline">usage-on-input-or-inline</a></li>
      <li><a class="app-link" href="/range/date-range">date-range</a></li>
      <li><a class="app-link" href="/range/time-range">time-range</a></li>
      <li><a class="app-link" href="/range/date-time-range">date-time-range</a></li>
      <li><a class="app-link" href="/range/week-month-view-scrolling-direction">week-month-view-scrolling-direction</a></li>
      <li><a class="app-link" href="/range/formatting-return-values">formatting-return-values</a></li>
      <li><a class="app-link" href="/range/customizing-labels-selection">customizing-labels-selection</a></li>
      <li><a class="app-link" href="/range/min-max-length">min-max-length</a></li>
      <li><a class="app-link" href="/range/recurring-values">recurring-values</a></li>
      <li><a class="app-link" href="/range/half-day-styling">half-day-styling</a></li>
      <li><a class="app-link" href="/range/customize-marked-day-shapes">customize-marked-day-shapes</a></li>
      <li><a class="app-link" href="/range/localization">localization</a></li>
      <li><a class="app-link" href="/range/adding-event-start-end">adding-event-start-end</a></li>
      <li><a class="app-link" href="/range/rtl-right-to-left">rtl-right-to-left</a></li>
      <li><a class="app-link" href="/range/date-filtering-with-predefined-ranges">date-filtering-with-predefined-ranges</a></li>
      <li><a class="app-link" href="/range/book-rental-months-ahead">book-rental-months-ahead</a></li>
      <li><a class="app-link" href="/range/setting-the-picker-timezone">setting-the-picker-timezone</a></li>
    </ul>

    <h2>Pickers & Dropdowns</h2>

    <h3>Select</h3>

    <ul>
      <li><a class="app-link" href="/select/multiple-select">multiple-select</a></li>
      <li><a class="app-link" href="/select/multiple-lines">multiple-lines</a></li>
      <li><a class="app-link" href="/select/country-picker">country-picker</a></li>
      <li><a class="app-link" href="/select/event-hooks">event-hooks</a></li>
      <li><a class="app-link" href="/select/themes-ios-material-windows">themes-ios-material-windows</a></li>
      <li><a class="app-link" href="/select/setting-values-defaults">setting-values-defaults</a></li>
      <li><a class="app-link" href="/select/mobile-desktop-usage">mobile-desktop-usage</a></li>
      <li><a class="app-link" href="/select/group-options">group-options</a></li>
      <li><a class="app-link" href="/select/localization">localization</a></li>
      <li><a class="app-link" href="/select/mobile-desktop-display">mobile-desktop-display</a></li>
      <li><a class="app-link" href="/select/single-select">single-select</a></li>
      <li><a class="app-link" href="/select/responsive">responsive</a></li>
      <li><a class="app-link" href="/select/rtl-right-to-left">rtl-right-to-left</a></li>
      <li><a class="app-link" href="/select/disabled-invalid-values">disabled-invalid-values</a></li>
      <li><a class="app-link" href="/select/filtering-values">filtering-values</a></li>
      <li><a class="app-link" href="/select/data-sources">data-sources</a></li>
      <li><a class="app-link" href="/select/linked-hierarchical-pickers">linked-hierarchical-pickers</a></li>
      <li><a class="app-link" href="/select/item-templating">item-templating</a></li>
      <li><a class="app-link" href="/select/image-text">image-text</a></li>
    </ul>

    <h2>Form components</h2>

    <h3>Forms</h3>

    <ul>
      <li><a class="app-link" href="/forms/mobile">mobile</a></li>
      <li><a class="app-link" href="/forms/responsive">responsive</a></li>
      <li><a class="app-link" href="/forms/themes-ios-material-windows">themes-ios-material-windows</a></li>
      <li><a class="app-link" href="/forms/desktop">desktop</a></li>
      <li><a class="app-link" href="/forms/popup">popup</a></li>
      <li><a class="app-link" href="/forms/alert-confirm-prompt">alert-confirm-prompt</a></li>
      <li><a class="app-link" href="/forms/notifications">notifications</a></li>
      <li><a class="app-link" href="/forms/buttons">buttons</a></li>
      <li><a class="app-link" href="/forms/segmented">segmented</a></li>
      <li><a class="app-link" href="/forms/stepper">stepper</a></li>
      <li><a class="app-link" href="/forms/button-segmented-stepper-colors">button-segmented-stepper-colors</a></li>
      <li><a class="app-link" href="/forms/inputs-text-areas-date-fields">inputs-text-areas-date-fields</a></li>
      <li><a class="app-link" href="/forms/input-label-types">input-label-types</a></li>
      <li><a class="app-link" href="/forms/checkbox">checkbox</a></li>
      <li><a class="app-link" href="/forms/switch">switch</a></li>
      <li><a class="app-link" href="/forms/radio-button">radio-button</a></li>
    </ul>

    <h2>Alerts & Notifications</h2>

    <ul>
      <li><a class="app-link" href="/alerts-notifications/alert">alert</a></li>
      <li><a class="app-link" href="/alerts-notifications/notifications">notifications</a></li>
    </ul>
  </div>
</mbsc-page>
