<mbsc-eventcalendar
  [data]="myEvents"
  [resources]="filteredResources"
  [resourceTemplate]="customResourceTemplate"
  [resourceHeaderTemplate]="customResourceHeaderTemplate"
  [options]="calendarOptions"
>
</mbsc-eventcalendar>

<ng-template #customResourceHeaderTemplate>
  <div class="mbsc-flex mbsc-align-items-center mbsc-font mds-resource-filtering-search">
    <mbsc-input
      type="text"
      startIcon="material-search"
      autocomplete="off"
      id="demo-search-input"
      class="mbsc-input"
      inputStyle="outline"
      placeholder="Search..."
      [(ngModel)]="searchQuery"
      (ngModelChange)="handleSearch()"
    />
    <mbsc-button
      #buttonRef
      id="demo-filter-button"
      startIcon="material-filter-list"
      class="mbsc-flex-none"
      variant="outline"
      (click)="openFilters($event)"
    >
      Filter
    </mbsc-button>
  </div>
</ng-template>

<ng-template #customResourceTemplate let-resource>
  <div>
    <div class="mds-resource-filtering-name">{{ resource.name }}</div>
    <div *ngIf="resource.status" class="mds-resource-filtering-status">
      <span
        class="mds-resource-filtering-status-dot"
        [ngStyle]="{ backgroundColor: resource.status === 'on site' ? 'green' : 'orange' }"
      ></span>
      {{ resource.status }}
    </div>
  </div>
</ng-template>

<ng-template #customResourceEmptyTemplate>
  <div class="mds-resource-filtering-empty mbsc-flex mbsc-align-items-center">
    <div class="mbsc-flex-1-1">
      <img src="https://i.ibb.co/2MMT3cQ/search.png" alt="Empty list" style="width: 100px" />
      <p class="mbsc-font mbsc-margin mbsc-medium mbsc-italic mbsc-txt-muted">No resources match your search.</p>
      <p class="mbsc-margin mbsc-medium mbsc-italic mbsc-txt-muted">Adjust your filters or try a different keyword.</p>
      <mbsc-button variant="outline" (click)="resetFilters()">Reset Filters</mbsc-button>
    </div>
  </div>
</ng-template>

<mbsc-popup [options]="popupOptions" [anchor]="popupAnchor" [buttons]="popupButtons" #popup>
  <div class="mbsc-form-group">
    <div class="mbsc-form-group-title">Operational Status</div>
    <div *ngFor="let filter of myFilters.slice(0, 2)">
      <mbsc-checkbox
        class="mds-resource-filtering-checkbox"
        [label]="filter.name"
        [checked]="tempFilters[filter.id]"
        (change)="handleCheckboxChange(filter.id)"
      />
    </div>
  </div>
  <div class="mbsc-form-group">
    <div class="mbsc-form-group-title">Job sites</div>
    <div *ngFor="let filter of myFilters.slice(2)">
      <mbsc-checkbox
        class="mds-resource-filtering-checkbox"
        [label]="filter.name"
        [checked]="tempFilters[filter.id]"
        (change)="handleCheckboxChange(filter.id)"
      />
    </div>
  </div>
</mbsc-popup>
