.mds-health-care-planner .mbsc-schedule-time-col,
.mds-health-care-planner .mbsc-schedule-time-wrapper {
  width: 80px;
}

/* Resouce column */

.mds-healthc-resource-column-bar .mbsc-schedule-event-range {
  display: none;
}

.mds-healthc-resource-column-bar .mbsc-schedule-event-bar {
  width: 4px;
  border-radius: 3px;
}

.mds-health-care-planner .mbsc-schedule-resource-title {
  padding: 0;
}

.mds-healthc-resource-column-bar .mbsc-schedule-event {
  margin-left: 5px;
}

.mds-healthc-resource-column-bar {
  width: 14px;
}

.mds-healthc-resource-column {
  width: 220px;
  border-left: 0 !important;
}

/* Resource Header */

.mds-healthc-header-cont {
  position: relative;
  padding-left: 50px;
  text-align: left;
  padding-bottom: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mds-healthc-header-avatar {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 20px;
  left: 0;
  transform: translateY(-50%);
}

.mds-healthc-header-name {
  font-size: 16px;
  word-wrap: break-word;
  line-height: 1.2;
}

.mds-healthc-header-description {
  font-size: 12px;
  margin-top: 5px;
}

/* Event */

.mds-healthc-availability-bar {
  width: 5px;
  height: 100%;
  border-radius: 5px;
}

.mds-healthc-event {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 13px;
}

.mds-start-time,
.mds-end-time {
  font-size: 10px;
}

.mds-healthc-event:hover {
  filter: saturate(2);
}

.mds-healthc-event-title {
  text-align: flex-start;
  padding: 3px 3px;
  color: black;
  font-weight: 350;
}

.mbsc-ios-dark .mds-healthc-event-title,
.mbsc-windows-dark .mds-healthc-event-title,
.mbsc-material-dark .mds-healthc-event-title {
  color: white;
}
