/* Sorting */

.mds-resource-details-title .mds-resource-header,
.mds-date-header-day-name,
.mds-resource-details-sidebar-header {
  cursor: pointer;
}

.mds-resource-sort-asc::after {
  content: '↑';
}

.mds-resource-sort-desc::after {
  content: '↓';
}

.mds-resource-sort-asc::after,
.mds-resource-sort-desc::after,
.mds-resource-sort-def::after {
  position: absolute;
  opacity: 0.5;
  right: 8px;
}

.mds-resource-sort-def::after {
  content: '‹›';
  right: 5px;
  top: 12px;
  transform: translateY(-50%) rotate(90deg);
}

.mds-date-header-day-name span {
  font-size: 14px;
  line-height: 25px;
  margin-left: 7px;
}

.mds-resource-sort-def:hover::after,
.mds-resource-sort-asc:hover::after,
.mds-resource-sort-desc:hover::after {
  opacity: 1;
}

.mds-date-header-day-name.mds-resource-sort-asc::after,
.mds-date-header-day-name.mds-resource-sort-desc::after {
  font-size: 14px;
  top: 12px;
  transform: translateY(-50%);
}

.mds-date-header-day-name,
.mds-resource-header,
.mds-resource-details-sidebar-header {
  position: relative;
}

.mds-resource-details-seats {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.mbsc-timeline-resource-header-cont.mbsc-ios-dark .mds-resource-details-seats,
.mbsc-timeline-resource-header-cont.mbsc-material-dark .mds-resource-details-seats,
.mbsc-timeline-resource-header-cont.mbsc-windows-dark .mds-resource-details-seats,
.mbsc-timeline-resource.mbsc-ios-dark .mds-resource-details-seats,
.mbsc-timeline-resource.mbsc-material-dark .mds-resource-details-seats,
.mbsc-timeline-resource.mbsc-windows-dark .mds-resource-details-seats {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

/* Header */

.mds-resource-details .mbsc-timeline-resource-col {
  width: 335px;
}

.mds-resource-details .mbsc-timeline-resource-header,
.mds-resource-details .mbsc-timeline-resource-title,
.mds-resource-details .mbsc-timeline-resource-footer,
.mds-resource-details .mbsc-timeline-sidebar-header {
  padding: 0;
}

.mds-resource-details .mbsc-timeline-resource-title {
  height: 100%;
}

.mds-resource-details-cont {
  line-height: 50px;
  height: 100%;
}

.mds-resource-header {
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

.mds-resource-details-name {
  width: 120px;
}

.mds-resource-details-seats,
.mds-resource-details-price {
  width: 106px;
}

.mds-resource-details-seats {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.mds-resource-details-title {
  font-weight: 600;
  line-height: 26px;
}

.mds-resource-details-sidebar-header {
  line-height: 26px;
  padding: 0 5px;
}

.mds-resource-details .mbsc-timeline-day {
  width: 144px;
}

.mds-resource-details-sidebar {
  line-height: 36px;
  text-align: center;
}

/* Footer */

.mds-resource-details-occuppancy {
  font-size: 15px;
  text-align: right;
  background-color: rgba(150, 150, 150, 0.1);
  padding-right: 15px;
}

.mds-resource-details-footer {
  line-height: 50px;
}

.mds-resource-details-total {
  font-size: 18px;
  text-align: center;
  line-height: 36px;
}

.mds-resource-details-footer-day {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background: rgba(150, 150, 150, 0.1);
  padding: 0 5px;
}

.mds-resource-details .mbsc-timeline-sidebar-footer {
  background-color: rgba(150, 150, 150, 0.1);
  border-top-color: #5a0101;
  color: #8c0000;
}

.mds-resource-details .mbsc-timeline-sidebar-col {
  width: 98px;
}

@supports (overflow: clip) {
  .mds-resource-details.mbsc-ltr .mbsc-schedule-event-inner {
    left: 280px;
  }
  .mds-resource-details.mbsc-rtl .mbsc-schedule-event-inner {
    right: 280px;
  }
}
