<mbsc-page [ngClass]="{'mds-external-dragging': isExternalDragging}" class="mds-drop-assignee-on-event-from-list">
  <div class="mbsc-grid mbsc-no-padding">
    <div class="mbsc-row">
      <div class="mbsc-col-sm-3 mbsc-flex-col mds-sidebar">
        <div class="mbsc-form-group-title">Team Members</div>
        <div class="mds-employee-list mbsc-flex">
          <div
            *ngFor="let emp of employees"
            mbsc-draggable
            [dragData]="emp"
            class="mds-employee-item mbsc-flex"
            (pointerdown)="onDragStart()"
          >
            <div class="mds-employee-avatar mbsc-flex" [ngStyle]="{background: emp.color}">{{emp.avatar}}</div>
            <div class="mds-employee-info mbsc-flex">
              <div class="mds-employee-name">{{emp.name}}</div>
              <div class="mds-employee-count">
                <ng-container *ngIf="getAssignmentCount(emp.id) > 0; else noAssignments">
                  {{getAssignmentCount(emp.id)}} meeting{{getAssignmentCount(emp.id) > 1 ? 's' : ''}}
                </ng-container>
                <ng-template #noAssignments>No assignments</ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mbsc-col-sm-9 mds-calendar-wrapper">
        <mbsc-eventcalendar
          [view]="myView"
          [data]="meetings"
          [resources]="rooms"
          [dragToCreate]="false"
          [dragToMove]="false"
          [dragToResize]="false"
          [clickToCreate]="false"
          [eventDelete]="false"
          [showEventTooltip]="false"
          [timelineEventTemplate]="eventTemplate"
        ></mbsc-eventcalendar>
      </div>
    </div>
  </div>
</mbsc-page>

<ng-template #eventTemplate let-data>
  <mbsc-dropcontainer
    class="mds-custom-event mbsc-flex"
    [ngStyle]="{'border-left': '4px solid ' + data.original.color}"
    [ngClass]="dropStates[data.original.id]"
    (onItemDrop)="onItemDrop($event, data.original.id)"
    (onItemDragEnter)="onItemDragEnter($event, data.original.id)"
    (onItemDragLeave)="onItemDragLeave(data.original.id)"
  >
    <div class="mds-event-header mbsc-flex">
      <div class="mds-event-title">{{data.original.title}}</div>
      <div class="mds-event-time">{{data.start}} - {{data.end}}</div>
    </div>
    <div *ngIf="data.original.attendees?.length" class="mds-event-attendees mbsc-flex">
      <span
        *ngFor="let attendee of data.original.attendees"
        class="mds-attendee-chip"
        [ngStyle]="{background: attendee.color}"
        [title]="attendee.name + ' (click to remove)'"
        (click)="removeAttendee(data.original.id, attendee.id, $event)"
      >
        {{attendee.avatar}}
        <span class="mds-attendee-remove">&times;</span>
      </span>
    </div>
    <div class="mds-event-drop-hint">Drop people to assign</div>
  </mbsc-dropcontainer>
</ng-template>
