.md-empty-agenda-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.md-bold {
  font-weight: 500;
}

.md-illustration-description {
  font-size: 8px;
}

.md-custom-agenda-btn.mbsc-button {
  line-height: 20px;
}
