<mbsc-page>
  <div class="mbsc-padding">
    <h1>Mobiscroll Angular Demos</h1>

    <h2>Event Calendar</h2>

    <h3>Agenda</h3>

    <ul>
      <li><a routerLink="/agenda/daily-agenda-with-week-calendar">Compact daily schedule</a></li>
      <li><a routerLink="/agenda/basic-usage">How to initialize</a></li>
      <li><a routerLink="/agenda/daily-weekly-monthly-annual-agenda">Customize the range</a></li>
      <li><a routerLink="/agenda/printing-the-view">Print mode</a></li>
      <li><a routerLink="/agenda/synchronized-views">Synchronized views</a></li>
      <li><a routerLink="/agenda/custom-event-sort">Custom event order</a></li>
      <li><a routerLink="/agenda/setting-the-timezone">Timezones</a></li>
      <li><a routerLink="/agenda/searching-events-in-popup">Event search with popup</a></li>
      <li><a routerLink="/agenda/event-content-customization">Content customization</a></li>
      <li><a routerLink="/agenda/full-event-customization">Full event customization</a></li>
      <li><a routerLink="/agenda/customizing-header">Customizing the header</a></li>
      <li><a routerLink="/agenda/custom-event-tooltip">Custom event tooltip</a></li>
      <li><a routerLink="/agenda/resource-filtering-in-header">In-header filtering</a></li>
      <li><a routerLink="/agenda/empty-state">Empty state</a></li>
      <li><a routerLink="/agenda/event-data-structure">Event properties</a></li>
      <li><a routerLink="/agenda/date-object-ISO-8601-moment">Supported date formats</a></li>
      <li><a routerLink="/agenda/recurring-events">Recurrence rules</a></li>
      <li><a routerLink="/agenda/load-inline-data">Loading inline data</a></li>
      <li><a routerLink="/agenda/load-events-from-remote-api">Events from a remote API</a></li>
      <li><a routerLink="/agenda/load-events-on-demand">Loading events on demand</a></li>
      <li><a routerLink="/agenda/sync-events-google-calendar">Sync events to google calendar</a></li>
      <li><a routerLink="/agenda/sync-events-outlook-calendar">Sync events to outlook calendar</a></li>
      <li><a routerLink="/agenda/load-events-from-google-calendar">Load events from public google calendar</a></li>
      <li><a routerLink="/agenda/event-bulk-actions-edit-delete-update">Multiple select & bulk operations</a></li>
      <li><a routerLink="/agenda/themes-ios-material-windows">Theming capabilities</a></li>
      <li><a routerLink="/agenda/event-hooks">Lifecycle events</a></li>
      <li><a routerLink="/agenda/gregorian-jalali-hijri">Calendar systems </a></li>
      <li><a routerLink="/agenda/localization">Localization</a></li>
    </ul>

    <h3>Event Calendar</h3>

    <ul>
      <li><a routerLink="/eventcalendar/mobile-month-view">Mobile month view</a></li>
      <li><a routerLink="/eventcalendar/desktop-month-view">Desktop month view</a></li>
      <li><a routerLink="/eventcalendar/responsive-month-view">Responsive</a></li>
      <li><a routerLink="/eventcalendar/printing-the-view">Print mode</a></li>
      <li><a routerLink="/eventcalendar/event-labels">Events as labels</a></li>
      <li><a routerLink="/eventcalendar/event-popover">Events in popover</a></li>
      <li><a routerLink="/eventcalendar/custom-event-sort">Custom event order</a></li>
      <li><a routerLink="/eventcalendar/setting-the-timezone">Timezones</a></li>
      <li><a routerLink="/eventcalendar/multiple-timezone-support">Switching timezones</a></li>
      <li><a routerLink="/eventcalendar/searching-events-in-popup">Event search with popup</a></li>
      <li><a routerLink="/eventcalendar/searching-events-in-sidebar">Event search with sidebar</a></li>
      <li><a routerLink="/eventcalendar/month-week-view">Month or week view</a></li>
      <li><a routerLink="/eventcalendar/quarter-year-view">Multi-month or year view</a></li>
      <li><a routerLink="/eventcalendar/show-more-all-labels">Displaying labels</a></li>
      <li><a routerLink="/eventcalendar/colored-cell-background">Colored backgrounds</a></li>
      <li><a routerLink="/eventcalendar/switching-day-week-month-view">Switching views</a></li>
      <li><a routerLink="/eventcalendar/customize-label-look-and-feel">Custom event labels</a></li>
      <li><a routerLink="/eventcalendar/customize-event-popover">Custom events in popover</a></li>
      <li><a routerLink="/eventcalendar/customizing-header">Customizing the header</a></li>
      <li><a routerLink="/eventcalendar/custom-event-tooltip">Custom event tooltip</a></li>
      <li><a routerLink="/eventcalendar/move-resize-drag-drop-to-create-events">Move, resize & create</a></li>
      <li><a routerLink="/eventcalendar/conditional-move-resize">Conditional move & resize per event or globally</a></li>
      <li><a routerLink="/eventcalendar/drag-drop-between-calendar-instances">Drag & drop between calendars</a></li>
      <li><a routerLink="/eventcalendar/blocked-days-ranges">Manage blocked out dates</a></li>
      <li><a routerLink="/eventcalendar/prevent-double-booking-events">Prevent event overlap</a></li>
      <li><a routerLink="/eventcalendar/external-drag-drop-schedule-unschedule">External drag and drop</a></li>
      <li><a routerLink="/eventcalendar/external-event-presets">External d&d presets</a></li>
      <li><a routerLink="/eventcalendar/resource-filtering-in-header">In-header filtering</a></li>
      <li><a routerLink="/eventcalendar/event-data-structure">Event properties</a></li>
      <li><a routerLink="/eventcalendar/date-object-ISO-8601-moment">Supported date formats</a></li>
      <li><a routerLink="/eventcalendar/recurring-events">Recurrence rules</a></li>
      <li><a routerLink="/eventcalendar/load-inline-data">Loading inline data</a></li>
      <li><a routerLink="/eventcalendar/load-events-from-remote-api">Events from remote API </a></li>
      <li><a routerLink="/eventcalendar/load-events-on-demand">Loading events on demand</a></li>
      <li><a routerLink="/eventcalendar/sync-events-google-calendar">Sync events to google calendar</a></li>
      <li><a routerLink="/eventcalendar/sync-events-outlook-calendar">Sync events to outlook calendar</a></li>
      <li><a routerLink="/eventcalendar/load-events-from-google-calendar">Load events from public google calendar</a></li>
      <li><a routerLink="/eventcalendar/create-read-update-delete-CRUD">Add/edit/delete events</a></li>
      <li><a routerLink="/eventcalendar/recurring-event-add-edit-dialog">Recurring event editor</a></li>
      <li><a routerLink="/eventcalendar/disallow-past-event-creation">Disable past event creation</a></li>
      <li><a routerLink="/eventcalendar/event-bulk-actions-edit-delete-update">Multiple select & bulk operations</a></li>
      <li><a routerLink="/eventcalendar/cut-copy-paste-events-between-calendars">Move events between calendars</a></li>
      <li><a routerLink="/eventcalendar/themes-ios-material-windows">Theming capabilities</a></li>
      <li><a routerLink="/eventcalendar/localization">Localization</a></li>
      <li><a routerLink="/eventcalendar/gregorian-jalali-hijri">Calendar systems </a></li>
      <li><a routerLink="/eventcalendar/event-hooks">Lifecycle events</a></li>
    </ul>

    <h3>Scheduler</h3>

    <ul>
      <li><a routerLink="/scheduler/mobile-day-view">Mobile daily schedule</a></li>
      <li><a routerLink="/scheduler/desktop-day-view">Desktop daily schedule</a></li>
      <li><a routerLink="/scheduler/mobile-week-view">Mobile weekly schedule</a></li>
      <li><a routerLink="/scheduler/desktop-week-view">Desktop weekly schedule</a></li>
      <li><a routerLink="/scheduler/responsive-day-week-schedule">Responsive behavior</a></li>
      <li><a routerLink="/scheduler/printing-the-view">Print mode</a></li>
      <li><a routerLink="/scheduler/work-week-hours">Work calendar</a></li>
      <li><a routerLink="/scheduler/doctors-appointment">Doctor's appointment</a></li>
      <li><a routerLink="/scheduler/custom-range-view">Custom range view</a></li>
      <li><a routerLink="/scheduler/control-number-of-concurrently-shown-events">Set event stack size</a></li>
      <li><a routerLink="/scheduler/display-multiple-days-weeks">Customize view range</a></li>
      <li><a routerLink="/scheduler/disable-all-day-events">Show/hide all-day events</a></li>
      <li><a routerLink="/scheduler/colored-cell-background">Colored backgrounds</a></li>
      <li><a routerLink="/scheduler/colors-invalids-css-class">CSS class for colors and invalids</a></li>
      <li><a routerLink="/scheduler/switching-calendar-scheduler-agenda">Switching views</a></li>
      <li><a routerLink="/scheduler/show-hide-hours-days">Visible hours and days</a></li>
      <li><a routerLink="/scheduler/setting-the-timezone">Timezones</a></li>
      <li><a routerLink="/scheduler/multiple-timezone-support">Switching timezones</a></li>
      <li><a routerLink="/scheduler/show-multiple-timezones">Display time for multiple timezones</a></li>
      <li><a routerLink="/scheduler/searching-events-in-sidebar">Event search with sidebar</a></li>
      <li><a routerLink="/scheduler/custom-event-tooltip">Custom event tooltip</a></li>
      <li><a routerLink="/scheduler/customizing-events">Event customization</a></li>
      <li><a routerLink="/scheduler/date-header-template">Date header template</a></li>
      <li><a routerLink="/scheduler/custom-resource-header-template">Resource template</a></li>
      <li><a routerLink="/scheduler/customizing-header">Customizing the header</a></li>
      <li><a routerLink="/scheduler/move-resize-drag-drop-to-create-events">Move, resize & create</a></li>
      <li><a routerLink="/scheduler/conditional-move-resize">Conditional move & resize per event, resource or globally</a></li>
      <li><a routerLink="/scheduler/drag-drop-between-calendar-instances">Drag & drop between schedulers</a></li>
      <li><a routerLink="/scheduler/time-off-blocked-ranges">Blocked out times</a></li>
      <li><a routerLink="/scheduler/prevent-double-booking-events">Prevent event overlap</a></li>
      <li><a routerLink="/scheduler/external-drag-drop-schedule-unschedule">External drag and drop</a></li>
      <li><a routerLink="/scheduler/external-event-presets">External d&d presets</a></li>
      <li><a routerLink="/scheduler/resource-view">Multiple resources</a></li>
      <li><a routerLink="/scheduler/group-by-resource-by-day">Resource grouping</a></li>
      <li><a routerLink="/scheduler/shared-events-across-resources">Shared events</a></li>
      <li><a routerLink="/scheduler/dynamic-add-remove-resources-filter">Show/hide resources</a></li>
      <li><a routerLink="/scheduler/resource-data-structure">Resource properties</a></li>
      <li><a routerLink="/scheduler/event-data-structure">Event properties</a></li>
      <li><a routerLink="/scheduler/date-object-ISO-8601-moment">Supported date formats</a></li>
      <li><a routerLink="/scheduler/recurring-events">Recurrence rules</a></li>
      <li><a routerLink="/scheduler/load-inline-data">Loading inline data</a></li>
      <li><a routerLink="/scheduler/load-events-from-remote-api">Events from remote API </a></li>
      <li><a routerLink="/scheduler/load-events-on-demand">Loading events on demand</a></li>
      <li><a routerLink="/scheduler/sync-events-google-calendar">Sync events to google calendar</a></li>
      <li><a routerLink="/scheduler/sync-events-outlook-calendar">Sync events to outlook calendar</a></li>
      <li><a routerLink="/scheduler/load-events-from-google-calendar">Load events from public google calendar</a></li>
      <li><a routerLink="/scheduler/create-read-update-delete-CRUD">Add/edit/delete events</a></li>
      <li><a routerLink="/scheduler/event-bulk-actions-edit-delete-update">Multiple select & bulk operations</a></li>
      <li><a routerLink="/scheduler/recurring-event-add-edit-dialog">Recurring event editor</a></li>
      <li><a routerLink="/scheduler/disallow-past-event-creation">Disable past event creation</a></li>
      <li><a routerLink="/scheduler/resource-filtering-in-header">Custom component in header</a></li>
      <li><a routerLink="/scheduler/themes-ios-material-windows">Theming capabilities</a></li>
      <li><a routerLink="/scheduler/gregorian-jalali-hijri">Calendar systems </a></li>
      <li><a routerLink="/scheduler/event-hooks">Lifecycle events</a></li>
      <li><a routerLink="/scheduler/localization">Localization</a></li>
    </ul>

    <h3>Timeline</h3>

    <ul>
      <li><a routerLink="/timeline/month-view">Monthly timeline</a></li>
      <li><a routerLink="/timeline/timeline-time-grid">Timeline vs time grid</a></li>
      <li><a routerLink="/timeline/printing-the-view">Print mode</a></li>
      <li><a routerLink="/timeline/employee-shifts">Employee shift planning</a></li>
      <li><a routerLink="/timeline/work-order-scheduling">Work order scheduling</a></li>
      <li><a routerLink="/timeline/timezone-meeting-planner">Meeting planner across timezones</a></li>
      <li><a routerLink="/timeline/restaurant-shift-management">Restaurant shift management</a></li>
      <li><a routerLink="/timeline/meal-planner">Weekly meal planner</a></li>
      <li><a routerLink="/timeline/dynamically-color-and-invalidate">Dynamically color & invalidate</a></li>
      <li><a routerLink="/timeline/multi-classroom-timetable">Multiple classroom scheduling</a></li>
      <li><a routerLink="/timeline/monthly-timetable-vertical-days-horizontal-times">Single resource timetable</a></li>
      <li><a routerLink="/timeline/compare-resources-fixed-at-top">Compare resources</a></li>
      <li><a routerLink="/timeline/assign-unassign-work-orders-fixed-top-row">Assign/unassign work orders</a></li>
      <li><a routerLink="/timeline/flight-scheduling-two-synchronized-timelines">Flight scheduling with two timelines</a></li>
      <li><a routerLink="/timeline/daily-weekly-monthly-yearly-timeline">Configure the timeline</a></li>
      <li>
        <a routerLink="/timeline/multiple-days-weeks-months-quarters-years-variable-resolution">Configure the page, size, resolution</a>
      </li>
      <li><a routerLink="/timeline/control-number-of-concurrently-shown-events">Set event stack size</a></li>
      <li><a routerLink="/timeline/custom-range-view">View with custom range picker</a></li>
      <li><a routerLink="/timeline/colors-invalids-css-class">CSS class for colors and invalids</a></li>
      <li><a routerLink="/timeline/timeline-resource-height">Equal row height</a></li>
      <li><a routerLink="/timeline/event-listing">Daily event summary</a></li>
      <li><a routerLink="/timeline/switching-day-week-work-week-timeline">Day, week, work week</a></li>
      <li><a routerLink="/timeline/setting-the-timezone">Timezones</a></li>
      <li><a routerLink="/timeline/multiple-timezone-support">Switching timezones</a></li>
      <li><a routerLink="/timeline/searching-events-in-sidebar">Event search with sidebar</a></li>
      <li><a routerLink="/timeline/timeline-custom-event-rendering">Timeline event template</a></li>
      <li>
        <a routerLink="/timeline/hour-day-week-month-quarter-year-header-footer-template"
          >Hour, day, week, month, year header and footer template</a
        >
      </li>
      <li><a routerLink="/timeline/shift-template">Time slot template</a></li>
      <li><a routerLink="/timeline/resource-header-template">Resource header template</a></li>
      <li><a routerLink="/timeline/custom-event-tooltip">Custom event tooltip</a></li>
      <li><a routerLink="/timeline/setting-row-height">Controlling the row height</a></li>
      <li><a routerLink="/timeline/move-resize-drag-drop-to-create-events">Move, resize & create</a></li>
      <li><a routerLink="/timeline/conditional-move-resize">Conditional move & resize per event, resource or globally</a></li>
      <li><a routerLink="/timeline/drag-drop-between-calendar-instances">Drag & drop between timelines</a></li>
      <li><a routerLink="/timeline/prevent-double-booking-events">Prevent event overlap</a></li>
      <li><a routerLink="/timeline/timeline-resource-details-side-panel-footer">Resource grid</a></li>
      <li><a routerLink="/timeline/resource-grouping-hierarchy">Resource grouping & hierarchy</a></li>
      <li><a routerLink="/timeline/resource-data-structure">Resource properties</a></li>
      <li><a routerLink="/timeline/event-data-structure">Event properties</a></li>
      <li><a routerLink="/timeline/connecting-linking-events-arrows">Event connections</a></li>
      <li><a routerLink="/timeline/date-object-ISO-8601-moment">Supported date formats</a></li>
      <li><a routerLink="/timeline/recurring-events">Recurrence rules</a></li>
      <li><a routerLink="/timeline/load-inline-data">Loading inline data</a></li>
      <li><a routerLink="/timeline/load-events-from-remote-api">Events from remote API </a></li>
      <li><a routerLink="/timeline/load-events-on-demand">Loading events on demand</a></li>
      <li><a routerLink="/timeline/load-resources-on-demand">Loading resources on demand</a></li>
      <li><a routerLink="/timeline/loading-big-data-sets">Working with large data sets</a></li>
      <li><a routerLink="/timeline/sync-events-google-calendar">Sync events to google calendar</a></li>
      <li><a routerLink="/timeline/sync-events-outlook-calendar">Sync events to outlook calendar</a></li>
      <li><a routerLink="/timeline/load-events-from-google-calendar">Load events from public google calendar</a></li>
      <li><a routerLink="/timeline/create-read-update-delete-CRUD">Add/edit/delete events</a></li>
      <li><a routerLink="/timeline/disallow-past-event-creation">Disable past event creation</a></li>
      <li><a routerLink="/timeline/event-bulk-actions-edit-delete-update">Multiple select & bulk operations</a></li>
      <li><a routerLink="/timeline/themes-ios-material-windows">Theming capabilities</a></li>
      <li><a routerLink="/timeline/gregorian-jalali-hijri">Calendar systems </a></li>
      <li><a routerLink="/timeline/event-hooks">Lifecycle events</a></li>
      <li><a routerLink="/timeline/localization">Localization</a></li>
      <li><a routerLink="/timeline/rtl-right-to-left">RTL mode</a></li>
    </ul>

    <h2>Date & time pickers</h2>

    <h3>Calendar</h3>

    <ul>
      <li><a routerLink="/calendar/mobile-desktop-usage">Mobile & Desktop usage</a></li>
      <li><a routerLink="/calendar/usage-on-input-or-inline">Initializing the picker</a></li>
      <li><a routerLink="/calendar/responsive">Responsive behavior</a></li>
      <li><a routerLink="/calendar/mobile-desktop-display">Understanding display modes</a></li>
      <li><a routerLink="/calendar/appointment-booking">Appointment booking</a></li>
      <li><a routerLink="/calendar/activity-calendar">Activity calendar</a></li>
      <li><a routerLink="/calendar/date-picker">Date selection</a></li>
      <li><a routerLink="/calendar/date-time-picker">Date & Time picker</a></li>
      <li><a routerLink="/calendar/week-view">Variable week view</a></li>
      <li><a routerLink="/calendar/multiple-months">Multi month view</a></li>
      <li><a routerLink="/calendar/quarter-year-view">Quarter or year view</a></li>
      <li><a routerLink="/calendar/week-to-month">Switching views</a></li>
      <li><a routerLink="/calendar/dots-colors-labels">Marked, colored & labels</a></li>
      <li><a routerLink="/calendar/month-change-direction-week-numbers-outer-days">Customizing the view</a></li>
      <li><a routerLink="/calendar/single-select">Single value selection</a></li>
      <li><a routerLink="/calendar/multiple-select">Multiple date selection</a></li>
      <li><a routerLink="/calendar/week-select">Week selection</a></li>
      <li><a routerLink="/calendar/range-select">Start-end selection</a></li>
      <li><a routerLink="/calendar/date-object-ISO-8601-moment">Date types</a></li>
      <li><a routerLink="/calendar/formatting-return-values">Formatting values</a></li>
      <li><a routerLink="/calendar/setting-values-defaults">Setting values</a></li>
      <li><a routerLink="/calendar/setting-the-picker-timezone">Timezones</a></li>
      <li><a routerLink="/calendar/min-max-restrictions">Min & max values</a></li>
      <li><a routerLink="/calendar/disabled-invalid-values">Disabled values</a></li>
      <li><a routerLink="/calendar/recurring-values">Recurring values</a></li>
      <li><a routerLink="/calendar/themes-ios-material-windows">Theming capabilities</a></li>
      <li><a routerLink="/calendar/customizing-header">Customizing the header</a></li>
      <li><a routerLink="/calendar/customize-marked-day-shapes">Marked day classes</a></li>
      <li><a routerLink="/calendar/half-day-styling">Half days</a></li>
      <li><a routerLink="/calendar/event-hooks">Lifecycle events</a></li>
      <li><a routerLink="/calendar/gregorian-jalali-hijri">Calendar systems </a></li>
      <li><a routerLink="/calendar/localization">Localization</a></li>
      <li><a routerLink="/calendar/rtl-right-to-left">RTL mode</a></li>
    </ul>

    <h3>Date & Time</h3>

    <ul>
      <li><a routerLink="/datetime/mobile-desktop-usage">Mobile & Desktop usage</a></li>
      <li><a routerLink="/datetime/usage-on-input-or-inline">Initializing the picker</a></li>
      <li><a routerLink="/datetime/responsive">Responsive behavior</a></li>
      <li><a routerLink="/datetime/mobile-desktop-display">Understanding display modes</a></li>
      <li><a routerLink="/datetime/date-picker">Date selection</a></li>
      <li><a routerLink="/datetime/time-picker">Time selection</a></li>
      <li><a routerLink="/datetime/date-time-picker">Date & time selection</a></li>
      <li><a routerLink="/datetime/time-value-steps">Setting time select steps</a></li>
      <li><a routerLink="/datetime/single-select">Single value selection</a></li>
      <li><a routerLink="/datetime/range-select">Start-end selection</a></li>
      <li><a routerLink="/datetime/date-object-ISO-8601-moment">Date types</a></li>
      <li><a routerLink="/datetime/formatting-return-values">Formatting values</a></li>
      <li><a routerLink="/datetime/month-year-picker">Credit card expiration</a></li>
      <li><a routerLink="/datetime/setting-values-defaults">Setting values</a></li>
      <li><a routerLink="/datetime/setting-the-picker-timezone">Timezones</a></li>
      <li><a routerLink="/datetime/min-max-restrictions">Min & max values</a></li>
      <li><a routerLink="/datetime/disabled-invalid-values">Disabled values</a></li>
      <li><a routerLink="/datetime/recurring-values">Recurring values</a></li>
      <li><a routerLink="/datetime/themes-ios-material-windows">Theming capabilities</a></li>
      <li><a routerLink="/datetime/event-hooks">Lifecycle events</a></li>
      <li><a routerLink="/datetime/gregorian-jalali-hijri">Calendar systems </a></li>
      <li><a routerLink="/datetime/localization">Localization</a></li>
      <li><a routerLink="/datetime/rtl-right-to-left">RTL mode</a></li>
    </ul>

    <h3>Range</h3>

    <ul>
      <li><a routerLink="/range/mobile-desktop-usage">Mobile & Desktop usage</a></li>
      <li><a routerLink="/range/usage-on-input-or-inline">Initializing the picker</a></li>
      <li><a routerLink="/range/responsive">Responsive behavior</a></li>
      <li><a routerLink="/range/calendar-scroller-dropdown">Understanding the controls</a></li>
      <li><a routerLink="/range/mobile-desktop-display">Understanding display modes</a></li>
      <li><a routerLink="/range/date-filtering-with-predefined-ranges">Date filtering with presets</a></li>
      <li><a routerLink="/range/flight-booking">Flight booking</a></li>
      <li><a routerLink="/range/book-rental-months-ahead">Vacation property availability</a></li>
      <li><a routerLink="/range/adding-event-start-end">New event creation</a></li>
      <li><a routerLink="/range/date-range">Date range</a></li>
      <li><a routerLink="/range/time-range">Time range</a></li>
      <li><a routerLink="/range/date-time-range">Date & time range</a></li>
      <li><a routerLink="/range/week-month-view-scrolling-direction">Customizing the calendar</a></li>
      <li><a routerLink="/range/customizing-labels-selection">Customizing the range</a></li>
      <li><a routerLink="/range/dots-colors-labels">Marked, colored & labels</a></li>
      <li><a routerLink="/range/presets">Presets</a></li>
      <li><a routerLink="/range/date-object-ISO-8601-moment">Date types</a></li>
      <li><a routerLink="/range/formatting-return-values">Formatting values</a></li>
      <li><a routerLink="/range/setting-the-picker-timezone">Timezones</a></li>
      <li><a routerLink="/range/min-max-length">Setting the allowed range length</a></li>
      <li><a routerLink="/range/min-max-restrictions">Min & max values</a></li>
      <li><a routerLink="/range/disabled-invalid-values">Disabled values</a></li>
      <li><a routerLink="/range/recurring-values">Recurring values</a></li>
      <li><a routerLink="/range/themes-ios-material-windows">Theming capabilities</a></li>
      <li><a routerLink="/range/customize-marked-day-shapes">Marked day classes</a></li>
      <li><a routerLink="/range/half-day-styling">Half days</a></li>
      <li><a routerLink="/range/event-hooks">Lifecycle events</a></li>
      <li><a routerLink="/range/gregorian-jalali-hijri">Calendar systems </a></li>
      <li><a routerLink="/range/localization">Localization</a></li>
      <li><a routerLink="/range/rtl-right-to-left">RTL mode</a></li>
    </ul>

    <h2>Pickers & Dropdowns</h2>

    <h3>Select</h3>

    <ul>
      <li><a routerLink="/select/mobile-desktop-usage">Mobile & Desktop usage</a></li>
      <li><a routerLink="/select/responsive">Responsive behavior</a></li>
      <li><a routerLink="/select/mobile-desktop-display">Understanding display modes</a></li>
      <li><a routerLink="/select/data-sources">Populating the picker</a></li>
      <li><a routerLink="/select/item-templating">Templating</a></li>
      <li><a routerLink="/select/country-picker">Country Dropdown</a></li>
      <li><a routerLink="/select/image-text">Image & text</a></li>
      <li><a routerLink="/select/multiple-lines">Multiline select</a></li>
      <li><a routerLink="/select/single-select">Single select</a></li>
      <li><a routerLink="/select/multiple-select">Multiple select</a></li>
      <li><a routerLink="/select/group-options">Group options</a></li>
      <li><a routerLink="/select/filtering-values">Filtering</a></li>
      <li><a routerLink="/select/linked-hierarchical-pickers">Multi level hierarchy</a></li>
      <li><a routerLink="/select/setting-values-defaults">Setting values</a></li>
      <li><a routerLink="/select/disabled-invalid-values">Disabled values</a></li>
      <li><a routerLink="/select/themes-ios-material-windows">Theming capabilities</a></li>
      <li><a routerLink="/select/event-hooks">Event hooks</a></li>
      <li><a routerLink="/select/localization">Localization </a></li>
      <li><a routerLink="/select/rtl-right-to-left">RTL support</a></li>
    </ul>

    <h2>Form components</h2>

    <h3>Forms</h3>

    <ul>
      <li><a routerLink="/forms/mobile">Mobile form</a></li>
      <li><a routerLink="/forms/desktop">Inline desktop form</a></li>
      <li><a routerLink="/forms/responsive">Responsive form</a></li>
      <li><a routerLink="/forms/popup">Inside a modal</a></li>
      <li><a routerLink="/forms/alert-confirm-prompt">Alert, confirm & prompt</a></li>
      <li><a routerLink="/forms/notifications">Toast & snackbar</a></li>
      <li><a routerLink="/forms/buttons">Buttons</a></li>
      <li><a routerLink="/forms/segmented">Segmented</a></li>
      <li><a routerLink="/forms/stepper">Stepper</a></li>
      <li><a routerLink="/forms/button-segmented-stepper-colors">Colors</a></li>
      <li><a routerLink="/forms/inputs-text-areas-date-fields">Field types</a></li>
      <li><a routerLink="/forms/input-label-types">Customize the input</a></li>
      <li><a routerLink="/forms/checkbox">Checkbox</a></li>
      <li><a routerLink="/forms/switch">Switch</a></li>
      <li><a routerLink="/forms/radio-button">Radio buttons</a></li>
      <li><a routerLink="/forms/themes-ios-material-windows">Theming capabilities</a></li>
    </ul>

    <h2>Alerts & Notifications</h2>

    <ul>
      <li><a routerLink="/alerts-notifications/alert">Alert</a></li>
      <li><a routerLink="/alerts-notifications/notifications">Notifications</a></li>
    </ul>
  </div>
</mbsc-page>
