<mbsc-page>
  <div class="app-home mbsc-padding">
    <div *ngFor="let main of demos" [class]="'app-' + main.unique">
      <h2>{{ main.name }}</h2>
      <div *ngFor="let sub of main.items">
        <h3>{{ sub.name }}</h3>
        <div *ngFor="let group of sub.items">
          <h4>{{ group.name }}</h4>
          <ul>
            <li *ngFor="let demo of group.items">
              <a [routerLink]="main.unique + '/' + sub.unique + '/' + demo.unique">{{ demo.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</mbsc-page>
